# This is the .env file used to setup Rocketgraph xGT and Mission Control.  See
# https://github.com/Rocketgraphai/rocketgraph/blob/main/README.md for
# details about what the different environment variables do.

# Mission Control Configuration
#MC_VERSION=latest
#MC_PORT=80
#MC_SSL_PORT=443
#MC_DEFAULT_XGT_HOST=localhost
#MC_DEFAULT_XGT_PORT=4367
#MC_ODBC_PATH=/usr/local/lib/odbc
#MC_MONGO_URI=mongodb://localhost:27017
#MC_MONGODB_IMAGE=mongo:latest

# SSL/TLS Configuration (Volume Mapped)
#MC_SSL_PUBLIC_CERT=/path/to/certs/td-cert.pem
#MC_SSL_PRIVATE_KEY=/path/to/certs/td-private-key.pem
#MC_SSL_CERT_CHAIN=/path/to/certs/cert-chain.pem
#MC_SSL_PROXY_PUBLIC_CERT=/path/to/certs/proxy-cert.pem
#MC_SSL_PROXY_PRIVATE_KEY=/path/to/certs/proxy-key.pem

# xGT Server Configuration
#XGT_VERSION=latest
#XGT_LICENSE_FILE=/path/to/license/xgt-license.lic
#XGT_DATA_PATH=/path/to/data
#XGT_AUTH_TYPES="['BasicAuth', 'FilePKIAuth', 'PKIAuth']"
#XGT_SSL_SERVER_CERT=/path/to/certs/xgt-chain.pem
#XGT_SERVER_CN=xgt.example.com
